* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #1d1934;
}

.worklet-canvas {
  --blob-seed: 123456;
  --blob-num-points: 8;
  --blob-variance: 0.375;
  --blob-smoothness: 1;
  --blob-fill: #000;

  width: 75vmin;
  height: 75vmin;

  background: #7257fa;

  -webkit-mask-image: paint(blob);
  mask-image: paint(blob);
}
